<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-links">
            <a href="/listing/privacy&terms">privacy &nbsp; ||</a> 
            &nbsp;<a href="/listing/privacy&terms">terms &nbsp;||</a> 
            &nbsp;<a href="/listing/contactus">contact US</a>
        </div>
        <div class="f-info-brand">&copy;2024 Wanderlust Private Limited</div>

        <div>
            <i>Designed And Developed By <a href="https://www.makardhwaj.free.nf/?i=1" target="_blank">Makardhwaj</a></i><br><br>
            <i style="color: gray;">this site is only for testing purpose this is not for public </i>
        </div>
    </div>
    <style>
        /* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
 

}
.f-info-links a:hover{

text-decoration: underline;
}
.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;


}
.f-info{
    display: flex;
    height: 15rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
    </style>
</footer>