<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
        <div>
            <i>Designed And Developed By <a href="">Makardhwaj</a></i>
        </div>
    </div>
    <style>
        /* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{

text-decoration: underline;
}
.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
    </style>
</footer>