
<%=layout ("./layouts/boilerplate.ejs")%>

<div class="row">
    <h1 class="col-6 offset-3"> Signup On Wonderlust</h1>
    <div class="col-6 offset-3">
        <form method="post" action="/login/forgotpass/otpverify" class="needs-validation" novalidate>

          <input type="hidden" id="email" name="email" value="<%= email %>">
        
        <div class="mb-3">
            <label for="otp" 
            class="form-label">OTP
            </label>

            <input type="text" id="otp" name="otp" class="form-control" required>

        <div class="invalid-feedback">Please Enter otp
          </div>
        </div>
               
             <button type="submit" class="btn btn-success">submit otp</button>
        </form>
     </div>
</div>