<%=layout ("./layouts/boilerplate.ejs")%>

<div class="row">
    <h1 class="col-6 offset-3"> Countact-Us</h1>
    <div class="col-6 offset-3">
        <form action="/listing/contactus" method="post" class="needs-validation" novalidate>

            
        <div class="mb-3">
            <label for="name" 
            class="form-label">Name
            </label>

        <input name="contact[name]" id="name"  type="text"  class="form-control" required>
           <div class="valid-feedback"> Looks good
            </div>
        <div class="invalid-feedback">Please Enter name
          </div>
        </div>

        <div class="mb-3">
            <label for="email" 
            class="form-label">E-mail
            </label>

            <input name="contact[email]" id="email" type="text" class="form-control">

        <div class="invalid-feedback">Please Enter email
          </div>
        </div>

        <div class="mb-3">
            <label for="Message" 
            class="form-label">Enter-Message
            </label>

        <textarea  name="contact[message]" id="Message"  type="Message"  class="form-control" required></textarea>
        <div class="invalid-feedback">Please Enter Message
          </div>
        </div>
               
             <button class="btn btn-success">Submit</button>
        </form>
     </div>
</div>

