<%=layout ("./layouts/boilerplate.ejs")%>

<div class="privacy">
    <h3>Privacy and terms</h3>
    <hr>
    <p><b>This website is not for public use.</b></p>
    
     <ul>
        <li><b>User Agreement:</b>By signing up and logging into Wanderlust during its testing phase, you acknowledge that you have read, understood, and agree to abide by all terms and conditions outlined herein, including but not limited to reservation policies, payment terms, cancellation and refund policies, intellectual property rights, limitation of liability, and disclaimer. Your continued use of Wanderlust constitutes your acceptance of these terms and conditions. If you do not agree with any part of these terms, please refrain from signing up and logging into Wanderlust.
        </li>
     </ul><hr>
     <h4>Privacy:</h4>
    <p>
       <ul>
        <li><b>Information Collection:</b> During the testing phase of Wanderlust, we may collect personal information such as name, email address, phone number, and payment details. This information is solely used for facilitating reservations and improving user experience during this testing phase.</li>
        <li><b>Data Usage:</b>Any personal information collected during the testing phase is strictly utilized for the purpose of processing reservations and enhancing our services. We do not share, sell, or rent this information to any third parties.</li>
        <li><b>Security Measures:</b>We implement industry-standard security measures to safeguard your personal information from unauthorized access, disclosure, alteration, or destruction during the testing phase.</li>
        <li><b>Cookies:</b>Wanderlust may utilize cookies to enrich your browsing experience during the testing phase. Users have the option to manage cookie settings through their browser preferences.</li>
        <li><b>Third-party Links: </b>Our website may feature links to third-party websites. Please note that we do not endorse the privacy practices or content of these external sites during the testing phase.</li>
        <li><b>Policy Updates: </b>Wanderlust reserves the right to update its privacy policy periodically during the testing phase. Users will be notified of any modifications via email or through prominent notices on our website.</li>
       </ul>
    </p>
    <hr>
    <h4>Terms:</h4>
    <p>
        <ul>
            <li><b>Website Usage:</b>By accessing and utilizing Wanderlust during its testing phase, you agree to adhere to these terms and conditions along with all relevant laws and regulations.</li>
            <li><b>Reservation Policies:</b> All reservations made through our platform during the testing phase are subject to availability and confirmation. We retain the right to refuse or cancel any reservation at our discretion.</li>
            <li><b>Cancellation and Refund:</b>Cancellation policies during the testing phase vary based on the property and are delineated during the booking procedure. Refunds, if applicable, will be processed according to the outlined terms.</li>
            <li><b>Intellectual Property:</b>All content and materials present on Wanderlust during the testing phase, including text, images, logos, and trademarks, are the exclusive property of Wanderlust and are protected by copyright and other applicable intellectual property laws.</li>
            <li><b>Limitation of Liability:</b>Wanderlust shall not be held liable for any direct, indirect, incidental, special, or consequential damages arising from the use of this website or the services provided herein during the testing phase.</li>
            <li><b>Disclaimer: </b>While we endeavor to provide accurate and up-to-date information during the testing phase, Wanderlust makes no warranties or representations of any kind, express or implied, regarding the accuracy or completeness of the content displayed on the website.</li>
           </ul>
    </p>
</div>

<style>
    .privacy{
        margin-top: 2%;
    }
   .privacy h4, p{
    margin-top: 2rem;

   }
li{
    margin-top: 1rem;
    text-align: justify;
}
</style>